.jumbotron{
	background-color: #F08080;
	border-radius: 2.0rem;
	color: white;
}

.navbar{
	background-color: SteelBlue;
}

.navbar .nav-link{
	color: white;
}

.nav-link:hover{
	color: gray;
}

.navbar-brand{
	color: brand;
}

img{
    width: 300px;
    height: 400px;
}

h1{
	text-align:center;
	color: black;
}

body{
background-color: #F08080;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed; 
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #CCCC00;
  overflow-x: hidden; 
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: black;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

button{
color: green;
}

.carousel-inner{
	height: 450%;
}

.carousel-inner img{
	width: 100%;
	height: 100%;
}

p{
	color: black;
}